<div class="banner">
    <div class="content">
        <h1 class="mb-3">Delicious food, desserts and fresh tea</h1>
        <a routerLink="menu">ORDER <i class="bi bi-arrow-right"></i></a> 
    </div>
</div>

<div class="container mb-3 mt-3">
        <h1>What should be done ?</h1>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="stepplace">
                    <h1>1</h1>
                    <p>Enjoy your meal.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="stepplace">
                    <h1>2</h1>
                    <p>Enjoy the moment with your tea and dessert.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="stepplace">
                    <h1>3</h1>
                    <p>Take lots of photos and immortalize the moment.</p>
                </div>
            </div>
        </div>
</div>

<div class="container mt-4 mb-4">
    <h1>Most preferred by customers</h1>
    <div class="row">
        <div class="col-lg-3 mt-2" *ngFor="let fd of foodData; index as i">
            <div class="foodBox" *ngIf="i<=3">
                <img src="{{fd.foodImg}}"/>
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodPrice | currency:'₺'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="view">Details <i class="bi bi-arrow-right"></i></a>
</div>
